.aipa-settings-container{
	float: left;
	display: block;
}
hr.aipa-divider{
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}
.aipa-upgrade-box{
	border: 5px dotted #cc4444;
	padding: 0 20px;
	background: white;
}
.aipa-upgrade-box ul {
    list-style-type: disc;
    margin-left: 20px;
}